.product-detail-card{
    width: 90vw;
    min-height: 80vh;
}

.product-detail-image{
    width: min(100%, 200px);
    margin: 10px;
}

.product-detail-button{
    margin: 30px 0px !important;
}

.product-detail-description{
    padding: 10px;
    overflow: auto;
}

.product-detail-description-title{
    padding: 20px 0px;
}


