.search-results{
    margin: 10px 0px;
}
.search-result-card{
    width: inherit;
    border-radius: 0px !important;
    border: 1px solid rgba(0, 0, 0, 0.12) !important;
    border-bottom: 0px!important;
}
.search-result-image{
    max-width: 90px;
}
.search-result-link{
    text-decoration: none;
}
.free-shipping-icon{
    max-width: 20px;
    margin: 10px;
    vertical-align: middle;
}
